### maven ###
/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Eclipse ###
.classpath
.project
.settings/
/.metadata
/servers
.buildpath
RemoteSystemsTempFiles
bin
org.eclipse.jdt.core.prefs
